@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/oswald";
@import "@fontsource-variable/golos-text";
@import "@fontsource-variable/jetbrains-mono";

@custom-variant dark (&:is(.dark *));

:root {
	--background: #ffffff;
	--foreground: #ffffff;
	--primary: #ee4036;
	--primary-foreground: #ffffff;
	--secondary: #ffa112;
	--secondary-foreground: #ffffff;
	--accent: #ff7431;
	--accent-foreground: #ffffff;
	--muted: oklch(0.97 0 0);
	--muted-foreground: #46549b;
	--tertiary: #001d7d;
	--tertiary-foreground: #ffffff;
}

@theme inline {
	--font-sans: 'Golos Text Variable', sans-serif;
	--font-display: 'Oswald Variable', sans-serif;
	--font-mono: 'JetBrains Mono Variable', monospace;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-tertiary: var(--tertiary);
	--color-tertiary-foreground: var(--tertiary-foreground);
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
}
