@import "tailwindcss";

@plugin "daisyui/theme" {
	name: "rurlight";
	default: true;
	prefersdark: false;
	color-scheme: "light";

	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(97% 0 0);
	--color-base-300: oklch(94% 0 0);
	--color-base-content: oklch(0% 0 0);

	--color-primary: oklch(15.906% 0 0);
	--color-primary-content: oklch(100% 0 0);
	--color-secondary: oklch(21.455% 0.001 17.278);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(26.861% 0 0);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(0% 0 0);
	--color-neutral-content: oklch(100% 0 0);

	--color-info: oklch(79.54% 0.103 205.9);
	--color-info-content: oklch(15.908% 0.02 205.9);
	--color-success: oklch(90.13% 0.153 164.14);
	--color-success-content: oklch(18.026% 0.03 164.14);
	--color-warning: oklch(88.37% 0.135 79.94);
	--color-warning-content: oklch(17.674% 0.027 79.94);
	--color-error: oklch(78.66% 0.15 28.47);
	--color-error-content: oklch(15.732% 0.03 28.47);

	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.21875rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 0;
	--noise: 0;
}

@plugin "daisyui" {
	themes: rurlight --default;
}

@font-face {
	font-family: "Bitter Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(@fontsource-variable/bitter/files/bitter-latin-wght-normal.woff2)
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Bitter Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(@fontsource-variable/bitter/files/bitter-cyrillic-wght-normal.woff2)
		format("woff2-variations");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body {
	@apply bg-base-100 antialiased min-h-screen flex flex-col;
	font-family: "Bitter Variable", "Ariel";
}

@utility navbar {
	@apply min-h-0 p-0;
}

/* @utility btn {
	@apply bg-inherit! translate-0 border-neutral border-(length:--border) font-normal;
} */
